name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn package appassembler:assemble
    - name: Docker Publish
      env:
        DOCKER_TOKEN: ${{ secrets.DOCKER }}
      run: |
        docker login docker.pkg.github.com --username LinuxSuRen
        docker build . -t docker.pkg.github.com/jenkins-zh/mirror-adapter/mirror-adapter:0.0.1
        docker push docker.pkg.github.com/jenkins-zh/mirror-adapter/mirror-adapter:0.0.1
